ZHIPU_API_KEY=your_zhipu_api_key_here
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4
ZHIPU_MODEL=glm-5.1
ZHIPU_THINKING_TYPE=disabled
ZHIPU_TEMPERATURE=0.72
ZHIPU_MAX_TOKENS=1800
SAAS_API_BASE_URL=http://aibigtree.com
SAAS_CREDITS_REQUIRED=false
